<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <link th:href="@{/test.css}" rel="stylesheet" />

    <title>Ace Inspiration</title>

    <style>
        .error {
            color: #ff0000;
        }

        .alert {
            width: 50%;
            text-align: center;
            margin-left: 70px;
        }
    </style>
</head>
<body class="login-page-body">
    <div class="login-page">
        <div class="form">
            <div class="login">
                <div class="login-header">
                    <h1>Verify Your Code Here</h1>
                </div>
            </div>

            <div style="color: red;" th:text="${error}"></div><br>

          <form action="/confirmOTP" method="post" th:object="${otpBean}">
    <input type="text" th:field="*{otp}" placeholder="Enter OTP" required>
    <button type="submit">Verify</button>
</form>
<div th:if="${error}" class="error" th:text="${error}"></div>
</div>

    </div>
</body>
