<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <link th:href="@{/test.css}" rel="stylesheet" />

    <title>Ace Inspiration</title>

    <style>
        .error {
            color: #ff0000;
        }

        .alert {
            width: 50%;
            text-align: center;
            margin-left: 70px;
        }
    </style>
</head>
<body class="login-page-body">


    <div class="login-page"> 
        <div class="form">
        
            <div class="login">
                <div class="login-header">
                    <h1>Forgot Password?</h1>
                    <p>Find your Email</p>
                </div>
            </div>

            <div style="color: red;" th:text="${error}"></div><br>
            <div th:if= "${param.success}">
            <p>Password Reset Link is sent to your Email!</p>
            </div>

            <form th:action="@{/password-request}" method="post"  class="login-form" name="confirm">
                <input type="text" id="email" name= "email"  placeholder="Enter your Email" />
               
                <button type="submit">Send Reset Link</button>
            </form>
        </div>
    </div>
</body>
